:root {
  --cyan: #00ffe7;
  --dark: #0b0e13;
  --white: #eee;
  --glass: rgba(255,255,255,0.08);
}

body {
  margin: 0;
  background: var(--dark);
  color: var(--white);
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.auth-card {
  width: 360px;
  background: var(--glass);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(0,255,255,0.25);
  padding: 32px 26px;
  border-radius: 12px;
  text-align: center;
}

.logo {
  margin-bottom: 8px;
  font-size: 32px;
  font-weight: 700;
  color: var(--cyan);
}

h2 {
  margin-bottom: 18px;
  opacity: 0.9;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid rgba(255,255,255,0.3);
  background: rgba(255,255,255,0.05);
  color: white;
}

button {
  cursor: pointer;
  font-weight: 600;
}

#submit-btn {
  padding: 12px;
  border-radius: 6px;
  border: none;
  background: var(--cyan);
  color: black;
  margin-top: 6px;
}

.forgot-text span {
  cursor: pointer;
  font-size: 14px;
  opacity: 0.8;
}

.forgot-text span:hover {
  opacity: 1;
  text-decoration: underline;
}

.divider {
  margin: 18px 0;
  display: flex;
  justify-content: center;
  opacity: 0.6;
  font-size: 14px;
}

.google-btn {
  width: 100%;
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: black;
  padding: 10px;
  border-radius: 6px;
  border: none;
}

.google-btn img {
  width: 18px;
}

.guest-btn {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid var(--cyan);
  background: transparent;
  color: var(--cyan);
  transition: .3s;
}

.guest-btn:hover {
  background: rgba(0,255,231,0.12);
}

.toggle-text {
  margin-top: 16px;
  font-size: 14px;
  opacity: .8;
}

.toggle-text span {
  color: var(--cyan);
  cursor: pointer;
}
